<!DOCTYPE html>
<html>
  <head>
    <title><%= title1 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
    <style type="text/css">
	a{margin-left: 20px; text-decoration: none;}
	a:hover{text-decoration: underline;}
    </style>
  </head>
  <body>
    <h1><%= title1 %></h1>
    <p>made by <%= title2 %></p>
    <script>
        $(function () {
            location.href = 'traininglistPage';
        })
    </script>

  </body>
</html>
