<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/registerAndLoginCSSJS/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/registerAndLoginCSSJS/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/registerAndLoginCSSJS/assets/css/form-elements1.css">
    <link rel="stylesheet" href="/registerAndLoginCSSJS/assets/css/style1.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/registerAndLoginCSSJS/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/registerAndLoginCSSJS/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/registerAndLoginCSSJS/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/registerAndLoginCSSJS/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/registerAndLoginCSSJS/assets/ico/apple-touch-icon-57-precomposed.png">
    <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
<!-- Top content -->
<div class="top-content">
    <%- message %>
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Register Form</strong> </h1>
                    <div class="description">
                        <p>
                           After you register,you can login to download or online reading which author shared the JS_PDF.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Please remember the name and pwd,</h3>
                            <p>it won't to Change or get Back</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form  class="login-form">
                            <div class="form-group">
                                <label class="sr-only" for="nameipt">用户名</label>
                                <input type="text" name="form-username" placeholder="用户名..." class="nameipt form-control" id="nameipt">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="nickname">昵称</label>
                                <input type="text" name="form-nickname" placeholder="昵称..." class="nickname form-control" id="nickname">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="pwdipt">Password</label>
                                <input type="password" name="form-password" placeholder="密码..." class="pwdipt form-control" id="pwdipt">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="repeatpwdipt">重复Password</label>
                                <input type="password" name="repeatpwdipt" placeholder="再次输入密码..." class="repeatpwdipt form-control" id="repeatpwdipt">
                            </div>
                            <button type="button" class="btn btn-success btnThis">Register in!</button>
                            <a type="button" href="/login" class="btn btn-warning" style="margin-top: 5px">返回登录!</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="container-fluid">-->
    <!--<div class="row-fluid">-->
        <!--<div class="col-md-12">-->
            <!--<%- message %>-->
            <!--<h2><%= h1 %></h2>-->
            <!--<div>-->
                <!--<label for="nameipt">name</label>-->
                <!--<input type="text" id="nameipt" class="nameipt" />-->
                <!--<label for="pwdipt">pwd</label>-->
                <!--<input type="text" id="pwdipt" class="pwdipt" />-->
                <!--<label for="repeatpwdipt">repeatpwd</label>-->
                <!--<input type="text" id="repeatpwdipt" class="repeatpwdipt" />-->
                <!--<label for="nickname">nickname</label>-->
                <!--<input type="text" id="nickname" class="nickname" />-->
                <!--<input type="button" class="btn" value="btn" />-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!-- Javascript -->
<script src="/registerAndLoginCSSJS/assets/js/jquery-1.11.1.min.js"></script>
<script src="/registerAndLoginCSSJS/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/registerAndLoginCSSJS/assets/js/jquery.backstretch.min.js"></script>
<script src="/registerAndLoginCSSJS/assets/js/scripts1.js"></script>

<!--[if lt IE 10]>
<script src="/registerAndLoginCSSJS/assets/js/placeholder.js"></script>
<![endif]-->
<script>
    $(function () {
        if($(".alert")){
            setTimeout(function () {$(".alert").hide();}, 1000)
        }
        $(".btnThis").click(function () {
            var nameipt=$('.nameipt').val(),
                pwdipt=$('.pwdipt').val(),
                nickname=$('.nickname').val(),
                repeatpwdipt=$('.repeatpwdipt').val();
            var updata={"nameipt":nameipt,"pwdipt":pwdipt,"nickname":nickname};
            if(nameipt!==""&& nameipt!==null && pwdipt!==""&&pwdipt!==null && nickname!==""&&nickname!==null && repeatpwdipt!==""&&repeatpwdipt!==null){
                if(pwdipt !== repeatpwdipt){
                  alert('两次密码不一致');
                }else if(pwdipt === repeatpwdipt){
                    $.ajax({
                        url:'/register',
                        type:'post',
                        data:updata,
                        success:function (data,status) {
                            if(status == 'success'){
                                console.log(data);
                                location.href = 'login';
                            }
                        },
                        error: function(data,err){
                            location.href = 'register';
                        }
                    })
                }


            }else {
               alert('不能有空项');
            }
        })
    })
</script>
</body>
</html>